process {   
  
 withName: DOWNSAMPLE {  
        memory = { 16.GB }
        publishDir = [
            path: { "${params.outdir}/scrank/" },
            mode: 'copy'
        ]
    }
   
 withName: SCRANK {
	memory = { 150.GB }
        cpus = {$params.n_cores}
        publishDir = [
            path: { "${params.outdir}/scrank/" },
            mode: 'copy'
        ]
    }


 withName: MERGE {
        memory = { 150.GB }
        publishDir = [
            path: { "${params.outdir}/rank_scores/" },
            mode: 'copy'
        ]
    }
}
