process {   
  
 withName: DOWNSAMPLE {  
        memory = { 16.GB }
        publishDir = [
            path: { "${params.outdir}/scrank/" },
            mode: 'copy'
        ]
    }
   
 withName: SCRANK {
	memory = { 64.GB }
        cpus = 30
        publishDir = [
            path: { "${params.outdir}/scrank/" },
            mode: 'copy'
        ]
    }


 withName: MERGE {
        memory = { 8.GB }
        cpus = 4
        publishDir = [
            path: { "${params.outdir}/rank_scores/" },
            mode: 'copy'
        ]
    }
}
