/*
Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run dalmolingroup/euryale -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    run_vignette               = true
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '8.GB'
    max_time   = '4.h'

    // Input data
    obj         = "https://github.com/diegomscoelho/scRank/raw/refs/heads/main/inst/extdata/AML_object.rda"
    column      = "labels"
    species     = "mouse"
    target      = "https://raw.githubusercontent.com/diegomscoelho/nf_scrank/refs/heads/split_celltype/testdata/test_input.txt" 
    n_cells     = 50
    n_cores     = 2

}
